.container{
    margin: 50px 10px;
}
.card{
    margin: 0 2% !important;
   
}
.infected {
    border-bottom: 4px solid rgb(0, 0, 255, 0.7);
}
.recovered {
    border-bottom: 4px solid rgb(0, 255, 0, 0.7);
}
.deaths {
    border-bottom: 4px solid rgb(255, 0, 0, 0.7);
}